@import "~bootstrap/scss/bootstrap";
//@import url('assets/css/main.css');//Живи пока что...

//FONTS
@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

//VARIABLES
@import './variables.scss';
//MIXINS
@import './mixins.scss';

//STYLES

//Header start
body{
    color: $dark-blue;
}
//Navbar start
.navbar {
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;

    @media(min-width:992px) {
        margin-left: 10%;
        margin-right: 10%;
    }

    @media (max-width:549px) {
        .contact-phone {
            display: none;
        }

        ul.language {
            display: none;
        }

    }

    >.container-fluid {
        @include container-fluid-margins();
    }

    .navbar-brand {
        width: 95px;
    }

    .logo {
        width: 25%;
        @include media-query-navbar-max-width(549px, 15%);

        img {
            width: 95px;
            @include media-query-navbar-max-width(549px, 60px);
        }
    }

    .navigation-product-option {
        width: 45%;
        @include media-query-navbar-max-width(549px, 65%);
    }

    @include product-option();

    .contact-phone {
        margin: auto;
        font-size: $fz-12;
        color: $dark-blue;
    }

    .authorization>a {
        text-decoration: none;
        color: $dark-blue;
        font-size: $fz-12;
        @include navbar-hover-effect();
    }

}

//SVG - sprites fucking slaves
.authorization {
    svg{
        width: 20px;
        height: 20px;
        fill:#FFBE48;
        &:hover{
            fill:#0D4128;
        }
    }

}

//Navbar end

//Menu start
.menu {
    @include product-option();

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 10%;
    margin-right: 10%;

    >.container-fluid {
        @include container-fluid-margins();
    }

    .catalog {
        width: 26%;
        background: #FFBE48;
        height: 50px;
        border-radius: 10px 0 0 0;

        svg,img {
            width: 26px;
            height: 24px;
        }

        span {
            border-bottom: 1px solid #fff;
            float: right;
            margin: 19px 22px 8px 5px;
            letter-spacing: 1px;
            font-size: 10px;

            a {
                color: white;
                text-decoration: none;
            }
        }

    }

    .dropdown-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        height: 40px;
        font-size: 14px;
        

        >.path-right {
            margin-top: 7px;
        }

        b {
            margin-top: 3px;
            color: #33485D;
            margin-right: 40%;

            img {
                margin-top: 3px;
            }

        }

        &:focus,
        &:hover {
            background-color: #DDE8F0;
            border-radius: 5px;
        }
    }

    .dropdown {
        &::after {
            border: none;
        }

        .dropdown-menu.show {
            width: 100%;
        }

        .dropdown-menu {
            img.path-right {
                width: 8;
                height: 16px;
            }
        }

        >.dropdown-toggle {
            background: #FFBE48;
            height: 50px;
            border: none;

            &::after {
                display: none;
            }

            >b {
                margin-left: 10px;
            }
        }
    }

    .search {
        width: 55%;
        height: 50px;

        .search-form>input {
            width: 100%;
            height: 40px;
            margin-top: 5px;
            margin-left: 10px;
            padding: 20px;
            border-radius: 7px;
            background: #DDE8F0;
            border: none;
            font-size: 13px;
            outline-color: blue;
        }
    }

    .fa-search {
        margin-left: -25px;
    }

    .tool-panel {
        width: 17%;
        margin-left: 2%;
        display: flex;

        a {
            width: 70px;
        }

        img {
            margin-left: 3px;
        }

        .tool-btn {
            border: 1px solid orange;
            width: 70px;
            height: 100%;

            &:hover {
                @include hover-icon();

                .iterator {
                    background-color: white;
                }
            }

            img {
                padding-left: 15px;
                padding-top: 12px;
                z-index: 1;
            }

            &:last-child {
                border-radius: 0px 10px 0px 0px;
                background-color: #fff;

                &:hover {
                    @include hover-icon();
                }

                img {
                    padding: 0;
                }
            }

            .iterator {
                width: 20px;
                height: 20px;
                background-color: #FFBE48;
                z-index: 0;
                position: absolute;
                border-radius: 50%;
                margin-left: 26px;
                opacity: 0.95;
                color: #33485D;
                margin-top: -8px !important;
                font-size: 13px;

                span {
                    margin-left: 5px;
                    font-weight: bold;
                }
            }
        }
    }
}

//Menu end
//Header end

//Main start

.horizontal-gradient {
    background: linear-gradient(#219653, #FFFFFF);
}

.product-images {
    margin-left: -2%;
}

.main-product-cart {
    width: 100%;
    height: 1200px;
    margin-left: 10%;
    margin-right: 10%;
    background: rgb(254, 254, 254);
}

//Breakcrumb start
.product-cart-breakcrumb {
    font-size: 10px;

    .breadcrumb-item a {
        color: #33485D;
        text-decoration: none;
    }
}

//Breakcrumb end

//Product start
.product-show {
    height: 470px;

    //Start of product images part
    .product-scroller {
        width: 120px;
        height: 100%;
    }

    .path-scroller {
        &:first-child {
            margin-left: 45px;
            margin-bottom: 15px;
            cursor: pointer;
            width: 25px;
        }

        &:last-child {
            margin-left: 45px;
            margin-top: 15px;
            cursor: pointer;
            width: 25px;
        }
    }

    .product-scroller-img {
        background: none;
        border: none;

        img {
            width: 95px;
            height: 95px;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                border: 2px solid rgb(2, 168, 64);
                border-radius: 5px;
            }
        }
    }

    .active-product-scroller img {
        border: 2px solid rgb(2, 168, 64);
        border-radius: 5px;
    }

    .main-product-img {
        width: 456px;
        height: 470px;
    }

    .product-deal-part {
        padding-right: 5rem !important;
    }

    //End of product images part

    //Start product deal - part
    .product-status {
        width: 485px;
        height: 40px;
        /*margin-right:-200px;
        margin-top:40px;*/
        font-size: 12px;
        margin: auto;


        img {
            width: 15px;
            margin-bottom: 4px;
        }

        .take-product-status {
            color: #249755;
        }

        @include star-color();

        i.fas.fa-star::before {
            font-size: 10px;
        }

        .number-of-ratings {
            border-bottom: 1px solid #33485D;
        }

        :is(.small-ratings)>span {
            margin-left: 5px;
        }
    }

    .product-sale {
        height: 45px;
        width: 485px;

        p {
            margin-top: 8px;

            &:first-child {
                margin-left: 4px;
            }
        }

        .product-sale-status {
            width: 25%;
            background-color: #EB5757;
            border-radius: 10px 0 0 0;
            height: 45px;
            color: white;
            font-weight: bold;
        }

        .sale-info {
            width: 100%;
            background-color: #FDEEEE;
            height: 45px;
            color: #EB5757;
            border-radius: 0 10px 0 0;
        }
    }

    .product-price {
        height: 90px;
        border-left: 1px solid #DDE8F0;
        border-right: 1px solid #DDE8F0;

        >p {
            margin-top: 30px;
            margin-left: 20px;
            color: #EB5757;
        }

        span.old-price {
            font-size: 14px;
            color: #9EB2C7;
            text-decoration: line-through #EB5757 1.5px;
            margin-left: 10px;
        }
    }

    .product-action {
        .btn-success {
            @include product-action();
        }

        >.tool-btn {
            border: 1px solid orange;
            width: 70px;
            height: 50px;
            border-radius: 0px;

            img {
                padding-left: 15px;
                padding-top: 12px;
            }

            &:hover {
                @include hover-icon();
            }

            img {
                margin-left: 5px;
                cursor: pointer;
            }

            &:last-child {
                border: 1px solid orange;
                width: 31%;
                height: 50px;
                border-radius: 0 0 10px 0;
                cursor: pointer;

                img {
                    width: 42px;
                    padding-top: 10px;
                }

                span {
                    float: right;
                    margin-right: 35px;
                    line-height: 18px;
                    font-size: 13px;
                    margin-top: 6px;
                    color: #33485D;
                }
            }
        }
    }

    .deal-details {
        position: absolute;

        span {
            color: #5C6D7D;
            font-size: 13px;
        }

        hr {
            color: #DDE8F0;
            height: 2px;
        }
    }

    .accordion {
        width: 485px;
    }

    .accordion-body {
        margin-top: 8px;
    }

    .accordion-item {
        width: 100%;
        border: none;
    }

    .accordion-header {
        height: 35px;
    }

    .accordion-collapse {
        border: none;
    }

    .accordion-button {
        img {
            width: 15px;
        }
        &::after{
         background-size: 10px;   
        }

        .collapsed {
            i {
                &::after {
                    font-size: 10px;
                }
            }
        }
    }

    //End product deal-part
}

//Start public block
.public-block {
    height: 480px;

    .product-specifications {
        width: 55%;

        section {
            margin-left: 16%;
        }

        h4>span {
            color: #219653;
        }

        table {
            margin-top: 25px;
            margin-bottom: 25px;

            tr {
                height: 28px;
            }

            td {
                float: left;
                font-size: 13px;

                .value {
                    color: #5C6D7D;
                }

                span {
                    color: #DDE8F0;
                }
            }
        }

        .title {
            font-weight: bolder;
            height: 25px;
        }
    }

    .all-specifications {
        text-decoration: none;
        color: #33485D;
        font-size: 13px;
        font-weight: bolder;
        border-bottom: 1px solid #5C6D7D;
        padding-bottom: 4px;

        &:hover {
            color: #5C6D7D;
            border-bottom: 2px solid #5C6D7D;
        }

        img {
            width: 5px;
            margin-left: 2px;
        }

    }

    .comments {
        @include star-color();

        width: 45%;
        margin-right: 6%;
        .user-login{
            font-size: 13px;
        }

        .comments-declaration {
            h4 {
                width: 75%;
            }

            span {
                color: #219653;
            }
        }

        .all-comments {
            margin-top: 5px;
            font-size: 13px;
            text-decoration: none;
            color: #5C6D7D;
            font-size: 13px;
            font-weight: bolder;
            border-bottom: 1px solid #33485D;
            padding-bottom: 4px;
            height: 20px;

            &:hover {
                color: #33485D;
                border-bottom: 2px solid #33485D;
            }

            img {
                width: 5px;
                margin-left: 3px;
            }
        }

        .date-of-comment {
            font-size: 13px;
            color: #5C6D7D;
        }

        .comment-body {
            padding-right: 5%;
            font-size: 13px;
            color: #5C6D7D;
        }

        .more-comments {
            border: 1px solid #FFA800;
            border-radius: 10px 0px 10px 0;
            color: #5C6D7D;
            width: 125px;
            height: 35px;
            font-size: 11px;
            padding-top: 8px;
            margin-top: 5%;

            &:hover {
                color: #33485D;
            }
        }
    }

}

//Product end

//Call-back block
.call-back-block {
    width: 100%;
    height: 170px;
    background-color: #0D4128;

    h4 {
        padding-top: 3%;
        color: white;
        text-align: center;
    }

    .client-tel {
        >form {
            width: 41%;
            margin-left: 2%;

            input {
                border-radius: 0px;
                font-size: 12px;
            }

            .btn-send-phone {
                width: 37%;
                color: #fff;
                background-color: #FFA800;
                border: 2px solid #fff;
                font-weight: bold;
            }
        }
    }

    .input-group {
        height: 50px;
    }
}

//End of call-back block

//Footer - start
.copyright {
    background-color: #0D4128;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #C3B0B0;
    font-size: 12px;

    p {
        margin-top: 15px;

        &:first-child {
            margin-left: 13%;
        }

        &:last-child {
            margin-right: 13%;
        }
    }
}